html, body {
	height: 100%;
}

body section {
	height: 100%;
}

#first {
	background: rgba(255, 0, 0, 0.1);
}

#second {
	background: rgba(0, 255, 0, 0.1);
}

#third {
	background: rgba(0, 0, 255, 0.1);
}